* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.qr-code__card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.1);
  margin: 1em;
}

.qr-code__image img {
  max-width: 100%;
  border-radius: 0.75em;
}

.qr-code__text {
  text-align: center;
  margin: 1em;
}

.qr-code__text h1 {
  color: hsl(218, 44%, 22%);
  font-size: 1.4rem;
  margin-bottom: 0.75em;
}

.qr-code__text p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  margin-bottom: 1.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
  .qr-code__card {
    width: 20em;
  }
}
